@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li { 
    list-style: none;
}
h4{
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
    font-family: 'S-Core Dream 3';
    font-weight: 300;
}
.header {
    width: 1130px;
    margin: 20px auto;
    padding: 0 10px;
}
.header .header01{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header01 .search_container {
    width: 574px;
    display: flex;
    justify-content: space-between;
}
.header01 .search {
    width: 148px;
    height: 38px;
    padding: 0 14px 0 16px;
    font-size: 13.3px;
    border: 1px solid #c2d2fb;
    line-height: 38px;
    display: inline-block;
    position: relative;
}
.header01 .search figure img {
    width: 15px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.header01 .search02 {
    width: 404px;
    height: 34px;
    background-color: #edf2fe;
    position: relative;
}
.header01 .search02 p{
    font-size: 13px;
    letter-spacing: -1px;
    padding: 0 12px;
    line-height: 38px;
    color: #8a8a8a;
}
.header01 .search02 figure img {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.header01 .header_nav {
    width: 242px;
}
.header01 .header_nav ul {
    display: flex;
    justify-content: space-between;
}
.header01 .header_nav ul li {
    font-size: 13px;
}
/* 💥💥💥header02 💥💥💥*/
.header02{
    width: 1130px; 
    margin: 0 auto;
}
.header02 .meau{
    width: 821px;
    display: flex;
    justify-content: space-between;
}
.header02 .meau {
    padding-left: 10px;
}
.header02 .meau .nav01{
    width: 130px;
    height: 47px;
    background: rgb(84,183,240);
    background: linear-gradient(95deg, 
                rgba(84,183,240,1) 0%, rgba(55,108,242,1) 100%);;
    line-height: 47px;
    padding-left: 46px;
    font-size: 13px;
    color: #fff;
    position: relative;
}
.header02 .meau .nav01 a {
    width: 100%;
    height: 100%;
}
.header02 .meau .nav01 figure img {
    width: 20px;
   height: 16px;
   position: absolute;
   top: 50%;
   left: 10px;
   transform: translateY(-50%);
}
.header02 .meau .nav02 {
    width: 658px;
    position: relative;
}
.header02 .meau .nav02 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 47px;
}
.header02 .meau .nav02 ul .nav02_play {
    padding-left: 30px;
}
.header02 .meau .nav02 ul .nav02_play img {
    width: 20px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 335px;
    transform: translateY(-50%);
}

/*💥💥main💥💥*/
.main .section01 {
    width: 1130px;
    margin: 0 auto;
    background-color: #e7e6e6;
    padding: 10px 0;
    border-top: 2px solid #376cf2;
}
.main .section01 .swiper {
    padding: 40px 130px
}
.main .section01 strong {
    font-size: 27px;
    padding-left: 18px;
}
.main .section01 .swiper-slide {
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #797979;
    
}
.main .section01 .swiper-slide figure {
    width: 100%;
    height: 188px;
}
.main .section01 .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.main .section01 .swiper-slide div {
    width: 100%;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 9px;
    text-align: center;
    font-size: 15px;
    border-radius: 0 0 10px 10px;    
}

/*💥💥💥💥💥💥인기악보💥💥💥💥💥💥*/
.main .section02{
    width: 1130px;
    position: relative;
    padding: 25px 10px 0;
    margin: 0 auto;
    border-bottom: 2px solid #cccccc;
}
.main .section02 .text_meun strong{
   margin-left: 18px;
   font-size: 27px; 
}
.main .section02 .pop_meun{
    font-size: 14px;
    margin-top: 10px;
    display: flex;
}
.main .section02 .pop_meun p:nth-child(1){
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    border: 1px solid #333;
    margin-right: 10px;
}
.main .section02 .pop_meun p:nth-child(2){
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    border: 1px solid #333;
    margin-right: 10px;
}
.main .section02 .pop_meun p:nth-child(3){
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    border: 1px solid #333;
    margin-right: 10px;
}
.main .section02 .pop_meun p:nth-child(4){
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    border: 1px solid #333;
    margin-right: 10px;
}
.main .section02 .pop_meun p:nth-child(5){
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    border: 1px solid #333;
    margin-right: 10px;
}
.main .section02 .list {
    display: flex;
    justify-content: space-between;
}
.main .section02 .list .list_between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
}
.main .section02 .list a{
    width: 505px;
    height: 80px;
}
.main .section02 .list .item {
    width: 505px;
    height: 80px;
    color: #333333;
    margin: 10px;
    position: relative;
}
.main .section02 .list .item a{
    display: flex;
}
.main .section02 .list .item a > figure{
    width: 60px;
    height: 60px;
}
.main .section02 .list .item a > figure img{
    width: 100%;
    height: 100%;
    margin: 10px 10px;
}
.main .section02 .list .item .number{
    font-size: 22px;
    line-height: 80px;
    margin-left: 18px;
}
.main .section02 .list .item .text{
    width: 323px;
    margin-left: 25px;
    padding: 11px 0;
}
.main .section02 .list .item .text h4{
    font-size: 15px;
    padding-top: 8px;
}
.main .section02 .list .item .text p{
    font-size: 14px;
    padding-bottom: 10px;
}
.main .section02 .list .item .blue{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.main .section02 .list .item .blue figure img {
    width: 35px;
    height: 35px;
}
.main .section02 .list .item:hover {
    background-color: #52b3f0;
    border-radius: 10px;
}

/*🍟🍟🍟 노래별 악보모음 🍟🍟🍟*/
.section03 {
    width: 1130px;
    margin: 0 auto;
}
.section03 .song_list {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    border-bottom: 1px solid #a6a6a6;
}
.section03 .song_list .item {
    width: calc(1110px / 6);
    padding: 12px 0;
}
.section03 .song_list .item:nth-child(1) {
    border-bottom: 1px solid #fff;
    z-index: 1;
    margin-bottom: -1px;
}
.section03 .song_list .item figure {
    width: 60px;
    height: 60px;
    margin: 0 62.5px;
}
.section03 .song_list .item figure img {
    width: 100%;
    height: 100%;
}
.section03 .song_list .item .text {
    text-align: center;
}
.section03 .song_list .item .text span {
    font-size: 13.8px;
    font-weight: bold;
    color: black;
}
.section03 .song_list .item:nth-child(1) .text p {
    letter-spacing: -2px;
}
.section03 .song_list .item:nth-child(1) {
    border-top: 2px solid #0600ff;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
}
.section03 .music {
    width: 1110px;
    border-bottom: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;

}
.section03 .music .music_list {
    width: calc(100% / 4);
    padding: 22px 26px;
}
.section03 .music .music_list .text_header {
    position: relative;
    margin-bottom: 6px;
    font-weight: 800;
}
.section03 .music .music_list .text_header a {
    width: 49px;
    height: 20px;
}
.section03 .music .music_list .text_header a figure {
    width: 49px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    align-items: center;
    border: 1px solid #e5e5e5;
    background-color: #f4f4f4;
}
.section03 .music .music_list .text_header a figure img {
    width: 8px;
    height: 12px;
}
.section03 .music .music_list > figure {
    width: 227px;
    height: 132px;
}
.section03 .music .music_list >  figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section03 .music .music_list .text02 {
    padding: 10px 0 50px 14px;
    font-size: 13px;
    position: relative;
}
.section03 .music .music_list .text02 .first {
    padding: 8px 0;
}
.section03 .music .music_list .text02 a {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #376cf2;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 0;
}
.section03 .music .music_list .text02 figure {
    width: 14px;
    height: 15px;
}
.section03 .music .music_list .text02 figure img {
    width: 100%;
    height: 100%;
}
.section03 .music .music_list .text02 a p {
    color: #376cf2;
}
.section03 .music .music_list .text02 .second {
    letter-spacing: -0.8px;
}

/*🍕🍕🍕 공지사항 🍕🍕🍕*/
.last {
    width: 1130px;
    margin: 0 auto;
    border-top: 1px solid #cccccc;
}
.last .last_box {
    display: flex;
    justify-content: space-between;
}
.last .last_box .last01 {
    width: 564px;
    height: 319px;
    padding: 19px 40px 27px;
}
.last .last_box .last01 .last01_header h1 {
    font-size: 23.2px;
    margin-bottom: 16px;
}
.last .last_box .last01 .notice .notice01 {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}
.last .last_box .last01 .notice .notice01:last-child  {
    margin-bottom: 0;
}
.last .last_box .last01 .notice .notice01 .notice_box { 
    width: 80px;
    height: 29px;
    background-color: #0d4e85;
    border-radius: 15px;
    text-align: center;
    line-height: 29px;
    color: #fff;
    font-size: 13px;
}
.last .last_box .last01 .notice .notice01 .text {
    padding-left: 31px;
    line-height: 29px;
}
.last .last_box .last02 figure {
    width: 564px;
    height: 106px;
}
.last .last_box .last02 figure img:nth-child(2) {
    margin-top: -4.3px;
    margin-bottom: -4.3px;
}

/*🍕🍕🍕 footer 🍕🍕🍕*/
.footer {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #a09f9f;
}
.footer .footer01 {
    margin: 0 auto;
    width: 1130px;
    border-bottom: 1px solid #cccccc;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
.footer .footer01 .first_box {
    height: 54px;
    padding: 0 14px;
    line-height: 54px;
    font-size: 13px;
}
.footer .footer01 .first_box ul {
    display: flex;
    justify-content: space-between;
}
.footer .footer01 .first_box ul li {
    margin-left: 30px;
}
.footer .footer01 .first_box ul li:nth-child(1) {
    margin-left: 0;
}
.footer .footer01 .second_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .footer01 .second_box .clock {
    display: flex;
    justify-content: flex-start;
}
.footer .footer01 .second_box .clock p:nth-child(1){
    font-size: 15px;
    padding-right: 5px;
    padding-top: 4px;
}
.footer .footer01 .second_box .clock p:nth-child(2) {
    font-size: 12px;
    padding-top: 7px;
}
.footer .footer01 .second_box .tel {
    width: 377px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    letter-spacing: -1.5px;
    padding-bottom: 7px;
}
.footer .footer01 .second_box .tel .tel01 a {
    display: flex;
    justify-content: space-between;
}
.footer .footer01 .second_box .tel .tel01 a h4 {
    padding-right: 8px;
}
.footer .footer01 .second_box .tel .tel01:nth-child(1) {
    border-right: 1px solid #333;
    padding-right: 6px;
    margin-right: 6px;
}
.footer .footer02 {
    width: 1130px;
    margin: 0 auto;
    padding: 18px 14px 0;
    color: #757575;
    font-size: 13px;
    position: relative;
}
.footer .footer02 .footer03 ul {
    display: flex;
    justify-content: flex-start;
}
.footer .footer02 .footer03 ul li {
    padding-left: 12px;
}
.footer .footer02 .footer03 ul li:nth-child(1) {
    padding-left: 0;
}
.footer .footer02 .footer04 {
    margin: 2px 0;
}
.footer .footer02 .footer04 ul {
    display: flex;
    justify-content: flex-start;
}
.footer .footer02 .footer04 ul li:nth-child(2) {
    padding-left: 13px;
}
.footer .footer02 .footer05 {
    margin-bottom: 20px;
}
.footer .footer02 .footer02_img {
    width: 280px;
}
.footer .footer02 .footer02_img ul {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.footer .footer02 .footer02_img ul li {
    padding-left: 20px;

}
